form#signup.modal.fade(tabindex=-1, role='dialog', aria-labelledby='signupLabel', aria-hidden='true')
  .modal-header
    h2#signupLabel Who are you?

  .modal-body
      input.span6(type='text', name='name', placeholder='Enter your name', value='TEST')
      span.error.help-block

  .modal-footer
    button(type="button").cancel.btn Cancel
    button.signup.btn.btn-primary Start game
