.dialog
  h2.title Who are you?
  form(action="#", method="post", class="dialog-form")
    .row
      input(type="text", name="player-name", placeholder="Enter your name")
    .actions
      button.button(type="submit") Let's go!