/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "lib/animate";

@import "ui/form";
@import "ui/buttons";
@import "ui/loading";
@import "ui/dialog";
@import "ui/tooltip";
@import "ui/players";

/*#canvas {
  position:absolute;
  width:100%; height:100%;
}*/

html, body { margin:0; padding:0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  text-shadow:0 1px 0 rgba(255,255,255,.75);
  color:lighten(#000, 5%);
  background:white; width:320px; margin:0 auto;
  overflow-y:hidden;
}

h1, h2, h3, h4, h5, h6 { color:lighten(#000, 20%); }

h2 { font-size:24px; font-weight:bold; }

.pieces { border:10px solid white; background:inline-image('grid.png'); position:relative;
  margin:0 auto;
  @include box-shadow(0 0 0 1px $border, 0 0 15px rgba(0,0,0,.1));
  
  .piece { display:inline-block; /*width:320px - 20px; height:480px - 20px;*/ position:relative; }
  
  .conceal { position:absolute; left:0; right:0; background:white;
    @include transition(all 400ms ease-in);
  }
  .conceal.above { top:0; bottom:10px; }
  .conceal.below { bottom:0; top:10px; }
  
  canvas { display:block; }
}

#overlay {
  background:rgba(255,255,255,.9);
  position:fixed; top:0; right:0; left:0; bottom:0;
}

.next-button { position:fixed; right:5px; bottom:5px; }

#game {
  @include transition(all 400ms ease-in-out);
  @include scale(1.0);

  &.finished {
    @include scale(.333);
  }
}

#game.finished .conceal { opacity:0; }

.disable-touch-button { position:fixed; bottom:5px; left:5px; display:none; }
.has-touch .disable-touch-button { display:block; }