doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        link(href="/css/screen.css", rel="stylesheet", type="text/css")
        script(src="/jam/require.js")
        meta(name="viewport", content="width=device-width, user-scalable=no initial-scale=1.0, minimum-scale=1.0")
    body
        block content
        
        block footer
            template(id="overlay"):
              include templates/overlay
            template(id="loading"):
              include templates/loading
            template(id="dialog"):
              include templates/dialog
            template(id="game"):
              include templates/game
            template(id="piece"):
              include templates/piece
        script
            require(['jquery', 'app/main', 'app/util'], function($, Main, util){
                new Main();
            })